.parks-container{
    display: grid;
    grid-template-areas: "title title"
    "gallery info";
    grid-template-columns: 45%, 45%;
    grid-template-rows: 2em, 1fr;
}

.park-title{
    grid-area: title;

}
.park-gallery{
    grid-area: gallery;
    width: 45vw;
    height: 45vh;
    min-width: 300px;
    min-height: 300px;
}
.park-description{
    grid-area: info;
    padding: 15px;
    min-width: 300px;
}