.main{
    flex: 1;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
}

.hero-img{
    width: auto;
    height: auto;
    max-height: 80vh;
}

.hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}