.parks-container {
    display: grid;
    grid-template-areas: "title title"
        "gallery info";
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8em 1fr;
    padding: 10px;
}

.park-title {
    grid-area: title;
}

.park-gallery {
    grid-area: gallery;
    width: 45vw;
    height: 45vh;
    min-width: 300px;
    min-height: 300px;
}

.park-description {
    grid-area: info;
    padding: 15px;
    min-width: 300px;
}

.park-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.park-title h1 form {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
}

.park-title h1 form button {
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
}

.park-title h1 form button[value="true"] {
    color: #f7d6b8;
}

.park-title h1 form button[value="true"]:hover,
.park-title h1 form button[value="false"] {
    color: #824A53;
}