.nav-bar {
    display: flex;
    width: auto;
    justify-content: space-between;
    background-color: #172c3a;
    padding: 0 10px 0 10px;
    color: #7fba9c;
    font-size: 2em;
}

.nav-bar a {
    color: #7fba9c;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #bed282;
}

.logo {
    height: 60px;
    max-width: 100px;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit:cover
}