.footer{
    height: 200px;
    background-color: #172c3a;
    color: #f7d6b8;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 0.5em;
    justify-content: center;
    position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}